*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(how-to-use-self-study.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Header styling */
header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #4b99d8, #2f76b7); /* Gradient background */
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);  /* Soft shadow */
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);  
}

header p {  
    font-size: 1rem;
    font-weight: 400;
    color: #f1f1f1;
    letter-spacing: 0.5px;
    margin-top: 10px;
    text-transform: capitalize;
}

table{
    width: 80%;
    height: 20vh;
    margin: 130px auto;
    background: rgb(153, 152, 152);
}

table.list{
    text-align: center;
    width: 100%;

}

td{
    border: 1px solid rgb(204, 200, 200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thead> tr{
    background-color: rgb(204, 200, 200);
}

input[type="text"], input[type="number"], input[type="email"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165, 161, 161);
    border-radius: 4px;
}

input[type="submit"], input[type="reset"]{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #4b99d8;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background: #4b99d8;
}

.table-container {
    width: 100%;
    max-height: 300px; /* Set max height */
    overflow-y: auto;  /* Enables vertical scrolling */
    border: 1px solid #ccc;
    display: block;
}

table {
    width: 80%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background: #fff; /* Background color to prevent overlap */
    z-index: 10;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}